.tc-card-block {
    /*Box Sizing*/
    --tc-card-block-card-max-width: 100%;

    /*Margins and Padding*/
    --tc-card-block-margin: var(--section-gap) 0;
    --tc-card-block-padding: 0 var(--page-margin);
    --tc-card-block-card-padding: 1rem;

    /*Border and Background*/
    --tc-card-block-card-border: 1px solid rgb(var(--clr-text-dark));
    --tc-card-block-card-border-radius: 6px;
}

.tc-card-block {
    margin: var(--tc-card-block-margin);
    padding: var(--tc-card-block-padding);
    max-width: 100%;
    justify-items: center;
}
.tc-card-block-main-container {
    padding: 0 0 4em;
    width: 100%;
    justify-content: center;
}
.tc-card-block-card {
    border: var(--tc-card-block-card-border);
    border-radius: var(--tc-card-block-card-border-radius);
    max-width: var(--tc-card-block-card-max-width);
    padding: var(--tc-card-block-card-padding);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}



.tc-card-block-main-container article {
    min-width: 290px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 1rem;
    background-color: #fff;
    transition: box-shadow 0.5s ease;
}
.tc-card-block-main-container article:hover {
    box-shadow: 5px 5px 8px 6px #0000001b;
}
.tc-card-block-main-container article > hr:first-of-type,
hr.icon-blob {
    position: relative;
    max-width: 900px;
    height: 40px;
    background: url(../../images/rose-dingbat.png) 50% 50% no-repeat;
    background-size: 40px;
    overflow: hidden;
    border: none;
}
.tc-card-block-main-container article > hr {
    background-color: lightgray;
    width: 100%;
    height: 1px;
}
.tc-card-block-main-container article ul > li {
    margin-left: 0.7rem;
    margin-bottom: 0.8rem;
    font-weight: 400;
    line-height: 1.2;
}
.tc-card-block-main-container article ul:first-of-type>li {
 list-style-type: "\2713";
 padding-inline-start: 1ch;
}
.tc-card-block-main-container article ul:first-of-type>li::marker {
    color: green;
}
.tc-card-block-main-container article ul:nth-of-type(2)>li {
    list-style-type: "X";
    padding-inline-start: 1ch;
}
.tc-card-block-main-container article ul:nth-of-type(2)>li::marker {
    color: red;
}

.tc-card-block-main-container article:nth-of-type(5) {
    padding: 1rem 2rem;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1490px) {
    
}